<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:targetSandboxVersion="1"
    package="com.app.happycommunity">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".postOverview">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".myPostOverview">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".postPicked">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".myPostDeletion">
        </activity>
        <activity
        android:screenOrientation="portrait"
        android:name=".createPost">
    </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".dashboard">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".createUser">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".showAcceptedPost">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".myAcceptedPosts">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".myPendingPosts">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".showPendingPost">
        </activity>
    </application>

</manifest>